# Force an error when "npm install" is run if the node / npm version is incompatible
#
# note(jae): 2021-07-18
# we do this to ensure everyone building/running this application is on a high enough
# node version. When team members are on mismatching versions, it can cause inconsistent
# bugs across systems.
# If we end up with multiple 
engine-strict=true
